@import "../../styles/variables";

$dot__radius: 3;
$dot__stroke-width: 2px;
$line__stroke-width: 2px;
$hover__transition--opacity: opacity 0.25s;

.line-chart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;

  .line-chart__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-height: 100%;
  }

  .line-chart__cursor-container {
    overflow: visible;
    transition: $hover__transition--opacity;
  }

  .line-chart__dot {
    fill: $color__white;
    stroke: $color__primary;
    stroke-width: $dot__stroke-width;
  }

  // Support pulsing animation only on Chrome since FF doesn't allow SVGCircle
  // attributes to be defined via stylesheets 🤦
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .line-chart__dot {
      fill: $color__white;
      stroke: $color__primary;
      stroke-width: $dot__stroke-width;
      r: $dot__radius;

      &--pulsing {
        animation-name: pulse;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        fill: none;
        stroke-width: $dot__stroke-width - 1;

        @keyframes pulse {
          from {
            r: $dot__radius;
            stroke-opacity: 1;
          }

          to {
            r: 3 * $dot__radius;
            stroke-opacity: 0;
          }
        }
      }
    }
  }

  .line-chart__hover-overlay {
    opacity: 0;
  }

  .line-chart__line {
    fill: none;
    stroke: $color__primary;
    stroke-width: $line__stroke-width;
  }

  .line-chart__ruler {
    stroke-width: 1px;
    stroke: $color__gray;
  }
}
