@import "../../styles/variables";

.global-status-overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  .global-status-overlay__dialog {
    display: flex;
    align-items: center;
    background: $color__white;
    padding: $base__size * 2;
    border-radius: $border-radius__dialog;

    p {
      font-size: $font-size__md;
      font-weight: bold;
      margin: 0;
      margin-left: $base__size * 2;
    }
  }
}
