@import '../../styles/variables';

$view-body__padding-y: 1.5 * $base__size;
$view-body__padding-x: 3 * $base__size;

$view-header__padding-y: 2 * $base__size;
$view-header__padding-x: 3 * $base__size;

.view-container {
  display: flex;
  flex-direction: column;
}

.view-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: $shadow__header;
  padding: $view-header__padding-y $view-header__padding-x;
  font-size: $font-size__lg;
  font-weight: 600;
  z-index: $z-index__view-header;
}

.view-body {
  overflow-y: scroll;
  padding: $view-body__padding-x;
  font-size: $font-size__base;
  font-weight: 400;
  background-color: $color__lighter-gray;
  height: 100%;
}
