@import '../../styles/variables';

@mixin selected-border($border-color) {
  position: relative;
  color: $border-color;

  &::after {
    position: absolute;
    top: -1px;
    left: 0;
    content: "";
    width: 100%;
    border-top: 2px solid $border-color;
  }
}

.tab-panel {
  display: flex;
  justify-content: flex-end;
  height: inherit;

  .tab {
    display: flex;
    align-items: center;
    padding: 0 2 * $base__size;
    text-transform: uppercase;
    font-family: 'Brandon Grotesque', Courier, monospace;
    font-weight: 600;
    font-size: 12px;
    line-height: 26px;
    color: $color__dark-gray;
    cursor: pointer;
    transition: all 0.25s ease 0s;

    &:hover {
      @include selected-border($color__dark-gray);
    }

    &.active {
      @include selected-border($color__primary);

      cursor: auto;
    }
  }
}
