@import "../../styles/variables";

$date-range-picker__margin: $base__size * 1.5;

.date-range-picker__container {
  display: flex;
}

.date-range-picker__ranges {
  display: flex;
  flex-direction: column;
  padding: $date-range-picker__margin;
  border-right: $border__divider;

  button {
    &:not(:first-of-type) {
      margin-top: $margin__button;
    }
  }
}

.date-range-picker__nav-bar {
  display: flex;
  position: absolute;
  top: $date-range-picker__margin;
  right: $date-range-picker__margin;
}
