@import "../../styles/mixins";
@import "../../styles/variables";

.settings-view__cards-container {
  @include responsive-card-container;
}

.settings-view__card {
  @include responsive-card;

  .card__body {
    height: 100%;
    padding: 0;
  }
}

.settings-view__button-panel {
  button:not(:first-of-type) {
    margin-left: $base__size * 1.5;
  }
}
