@import "../../styles/variables";

$card__margin-x: $base__size * 2;
$card__margin-y: $base__size * 2;

@mixin card__width--100 {
  margin-right: 0;
  min-width: 450px;
  width: calc(100% - #{$card__margin-x});
}

@mixin card__width--50 {
  width: calc(50% - #{$card__margin-x});
  margin-right: $card__margin-x;
}

@mixin card__width--25 {
  width: calc(25% - #{$card__margin-x});
  margin-right: $card__margin-x;
}

.settings-view__cards-container {
  margin-bottom: $card__margin-y;
  margin-top: -1 * $card__margin-y;
  margin-right: -1 * $card__margin-x;
}

.settings-view__card {
  float: left;
  margin-top: $card__margin-y;

  .card__body {
    padding: 0;
  }

  @media screen and (min-width: 1201px) {
    &#{&}--sm {
      @include card__width--25;
    }

    &#{&}--md {
      @include card__width--50;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 1200px) {
    &#{&}--sm {
      @include card__width--50;
    }

    &#{&}--md {
      @include card__width--100;
    }
  }

  @media screen and (max-width: 600px) {
    &#{&}--sm,
    &#{&}--md {
      @include card__width--100;
    }
  }
}

.settings-view__button-panel {
  .btn:not(:first-child) {
    margin-left: $base__size;
  }
}

// TODO: Remove this when theming support is available on evergreen-ui
.primary-btn {
  color: $color__white;
  background-image: linear-gradient(to bottom, $color__primary, $color__primary-dark);

  &:not([disabled]):not([data-disabled]):hover {
    background-image: linear-gradient(to bottom, $color__primary-dark, $color__primary-darker);
  }
}
