@import '../../styles/variables';

$border__width: 2px;

.btn {
  border-width: $border__width;
  border-style: solid;
  border-radius: 4px;
  font-size: 12px;
  font-family: $font-family;
  font-weight: 600;
  padding: $base__size - (2 * $border__width) $base__size;
  cursor: pointer;
  text-decoration: none;

  &:focus {
    outline: 0;
  }

  &.btn--primary {
    background-color: $color__primary;
    border-color: $color__primary;
    color: $color__white;

    &:hover {
      background-color: darken($color__primary, 10%);
      border-color: darken($color__primary, 10%);
    }
  }

  &.btn--secondary {
    background-color: $color__white;
    border-color: $color__primary;
    color: $color__primary;

    &:hover {
      background-color: darken($color__white, 10%);
      border-color: darken($color__primary, 10%);
    }
  }
}
