@import "../../styles/mixins";
@import "../../styles/variables";

.domain-picker {
  display: flex;
  align-items: center;
  max-width: 100%;

  button {
    flex-shrink: 0;
    margin: 0;
  }

  .domain-picker__label {
    display: flex;
    align-items: center;
    margin-right: $base__size;
    overflow: hidden;

    .domain-picker__icon {
      @include favicon;

      margin-right: $base__size;
    }

    .domain-picker__text {
      @include truncate-text;
    }
  }
}

.domain-picker__popover {
  input {
    @include input;
  }

  .domain-picker__placeholder {
    align-items: center;
    color: $color__gray-dark;
    display: flex;
    font-size: $font-size__base;
    font-weight: 600;
    height: 100%;
    justify-content: center;
  }
}
