@import "../../styles/variables";

.list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $base__size * 2 $base__size * 3;

    &:not(:last-child) {
      border-bottom: 1px solid $color__gray-light;
    }

    &__label {
      font-size: $font-size__base;
      font-weight: 600;
    }

    &__value {
      font-size: $font-size__base;
      font-weight: 400;
    }
  }
}
