@import "../../styles/mixins";
@import "../../styles/variables";

.external-link {
  display: flex;
  align-content: center;

  a {
    @include truncate-text;

    color: $color__black;
    text-decoration: underline;

    &:hover {
      color: $color__primary;
    }
  }

  .external-link__icon {
    height: $base__size * 2;
    width: $base__size * 2;
    background-color: $color__white;
    border-radius: 100%;
    box-shadow: $shadow__favicon;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $base__size;
    overflow: hidden;
    padding: 1px;
  }
}
