@import "../../styles/mixins";
@import "../../styles/variables";

.external-link {
  display: flex;
  align-content: center;

  a {
    @include truncate-text;

    color: $color__black;
    text-decoration: underline;

    &:hover {
      color: $color__primary;
    }
  }

  .external-link__icon {
    @include favicon;

    height: $size__favicon;
    width: $size__favicon;
    margin-right: $base__size;
  }
}
