@import "mixins";
@import "variables";

.evergreen__menu-item {
  height: $base__size * 4;

  span {
    font-size: $font-size__base;
    font-weight: 600;

    // menu item's sub-label
    &:not(:first-of-type) {
      font-weight: 400;
    }
  }
}

.evergreen__menu-item,
.evergreen__row,
.evergreen__table-cell {
  svg[data-icon="tick"] {
    fill: $color__primary !important;
  }
}

// NOTE: Resort to global style + !important b/c evergreen-ui doesn't expose any
// props for overwriting z-indexes of its dialog-based components 🤢
div[evergreen-portal-container] {
  // Dialog
  div[data-state="entered"],
  // SelectMenu
  div[role="dialog"] {
    z-index: $z-index__dialog !important;
  }
}
