// Global Variables

$base__size: 8px;

$font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$line-height: 1.6;

$font-size__sm: 10px;
$font-size__base: 12px;
$font-size__md: 16px;
$font-size__lg: 20px;

$color__primary: #379af7;
$color__black: #244360;
$color__gray: #c0c9d1;
$color__light-gray: #f6f6f6;
$color__white: #fff;

$shadow__color: #{$color__black}6d;
$shadow__header: 0 0 1px $shadow__color;
