@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

$base__size: 8px;

$font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$letter-spacing: 0;
$line-height: 1.6;

$font-size__sm: 10px;
$font-size__base: 12px;
$font-size__md: 14px;
$font-size__lg: 16px;
$font-size__xl: 20px;
$font-size__xxl: 28px;

$color__primary: #379af7;
$color__primary-dark: darken($color__primary, 12%);
$color__primary-darker: darken($color__primary, 24%);
$color__primary-darkest: darken($color__primary, 36%);
$color__primary-light: lighten($color__primary, 12%);
$color__primary-lighter: lighten($color__primary, 24%);
$color__primary-lightest: lighten($color__primary, 36%);

$color__black: #244360;
$color__gray-darker: #62778c;
$color__gray-dark: #8da2b5;
$color__gray: #c0c9d1;
$color__gray-light: #f1f2f4;
$color__gray-lighter: #f6f6f6;
$color__white: #fff;

$color__danger: #ec4c47;
$color__danger-dark: darken($color__danger, 12%);
$color__danger-darker: darken($color__danger, 24%);
$color__danger-darkest: darken($color__danger, 36%);
$color__danger-light: lighten($color__danger, 12%);
$color__danger-lighter: lighten($color__danger, 24%);
$color__danger-lightest: lighten($color__danger, 36%);
$color__favicon-background: $color__white;
$color__overlay: #{$color__gray-lighter}6d;
$color__shadow: #{$color__black}6d;
$color__success: #47b881;
$color__warning: #d9822b;

$border__divider: 1px solid $color__gray-light;
$border__favicon: 1px solid $color__favicon-background;

$border-radius__button: 3px;
$border-radius__card: 4px;
$border-radius__table: 4px;
$border-radius__tooltip: 2px;

$margin__button: $base__size * 1.5;
$margin__card: $base__size * 2;
$margin__favicon: 2px;

$shadow__card: 0 0 2px $color__shadow;
$shadow__favicon: 0 0 2px $color__shadow;
$shadow__header: 0 0 1px $color__shadow;
$shadow__input: 0 0 1px $color__shadow;
$shadow__table: 0 0 2px $color__shadow;

$size__button: $base__size * 4;
$size__favicon: $base__size * 2;
$size__icon-button: $base__size * 3;
$size__icon: $base__size * 2.5;
$size__spinner: $base__size * 4;

$tooltip__max-width: 240px;

$z-index__menu-select: 1000;
$z-index__navbar: 100;
$z-index__view-header: 100;
$z-index__loading-overlay: 10;
