// Global Variables

$base__size: 8px;

$font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$line-height: 1.6;

$font-size__sm: 10px;
$font-size__base: 12px;
$font-size__md: 14px;
$font-size__lg: 16px;
$font-size__xl: 20px;
$font-size__xxl: 28px;

$color__primary: #379af7;
$color__primary-dark: darken($color__primary, 10%);
$color__primary-darker: darken($color__primary, 20%);
$color__primary-light: lighten($color__primary, 10%);
$color__primary-lighter: lighten($color__primary, 20%);
$color__black: #244360;
$color__darker-gray: #62778c;
$color__dark-gray: #8da2b5;
$color__gray: #c0c9d1;
$color__light-gray: #f1f2f4;
$color__lighter-gray: #f6f6f6;
$color__white: #fff;

$shadow__color: #{$color__black}6d;
$shadow__card: 0 0 2px $shadow__color;
$shadow__favicon: 0 0 2px $shadow__color;
$shadow__header: 0 0 1px $shadow__color;
$shadow__input: 0 0 1px $shadow__color;

$z-index__navbar: 1000;
$z-index__menu-select: 100;
$z-index__view-header: 100;
