@import "evergreen";
@import "normalize";
@import "variables";

$banner__height: $base__size * 3;

body {
  font-family: $font-family;
  font-size: $font-size__base;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  color: $color__black;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

text {
  font-family: $font-family;
  font-size: $font-size__base;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__banner {
  display: flex;
  height: $banner__height;
}

.app__container {
  display: flex;
  height: calc(100% - #{$banner__height});
  flex-grow: 1;
}

.app__view {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
