@import "../../styles/variables";

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color__primary;
  color: $color__white;
  font-size: $font-size__base;
  font-weight: 600;
  text-align: center;

  a {
    color: inherit;
  }
}
