@import "../../styles/variables";

$dot__radius: 3;
$dot__stroke-width: 2px;
$line__stroke-width: 2px;
$label__max-width: 40%;
$hover__transition--opacity: opacity 0.25s;

.bar-chart {
  display: flex;
  height: 300px;
  width: 100%;

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .chart__container {
    width: 100%;
    position: relative;
  }

  .bar__container {
    .bar {
      fill: $color__primary;
    }
  }

  .axis__container {
    .axis {
      path,
      line {
        color: $color__light-gray;
      }

      text {
        color: $color__dark-gray;
        font-weight: 600;
        font-size: 12px;
        font-family: $font-family;
      }
    }

    // Hide 1st tick on x-axis
    .x.axis .tick:first-of-type {
      display: none;
    }

    .grid {
      color: $color__light-gray;
      stroke-width: 1px;
      stroke-dasharray: 2, 2;
    }
  }

  .vertical-axis__container {
    position: relative;
    margin-right: $base__size;
    max-width: $label__max-width;

    .labels {
      &--dummy {
        opacity: 0;
        user-select: none;
      }
    }

    .label {
      color: $color__dark-gray;
      font-weight: 600;
      font-size: 12px;
      font-family: $font-family;
      overflow: hidden;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }

  .overlay__container {
    .overlay {
      cursor: crosshair;
      opacity: 0;
    }
  }

  .tooltip__container {
    position: absolute;
    padding: 0 0.5 * $base__size;
    transition: $hover__transition--opacity;

    .tooltip {
      min-width: 80px;
      max-width: 240px;
      padding: $base__size;
      border-radius: 2px;
      background-color: $color__black;
      color: $color__white;

      &__header {
        display: flex;
        align-content: center;

        strong {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &__favicon {
        height: (12px * 1.5) - 2;
        width: (12px * 1.5) - 2;
        flex-grow: 0;
        flex-shrink: 0;
        background-color: $color__white;
        border: 1px solid $color__white;
        border-radius: 100%;
        margin-right: $base__size;
        overflow: hidden;
      }

      &__description {
        text-align: right;
      }
    }
  }
}
