@import '../../styles/variables';

$card__margin-x: 2 * $base__size;
$card__margin-y: 2 * $base__size;

@mixin card__width--100 {
  margin-right: 0;
  min-width: 450px;
  width: calc(100%);
}

@mixin card__width--50 {
  width: calc(50% - #{0.5 * $card__margin-x});
}

@mixin card__width--25 {
  width: calc(25% - #{0.75 * $card__margin-x});
}

.analytics-view {
  &__cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $card__margin-y;
    margin-top: -1 * $card__margin-y;
  }

  &__card {
    margin-top: $card__margin-y;

    &:not(:last-of-type) {
      margin-right: $card__margin-x;
    }

    @media screen and (min-width: 1201px) {
      &#{&}--sm {
        @include card__width--25;
      }

      &#{&}--md {
        @include card__width--50;
      }
    }

    @media screen and (min-width: 601px) and (max-width: 1200px) {
      &#{&}--sm {
        @include card__width--50;
      }

      &#{&}--md {
        @include card__width--100;
      }
    }

    @media screen and (max-width: 600px) {
      &#{&}--sm,
      &#{&}--md {
        @include card__width--100;
      }
    }
  }
}
