@import "../../styles/variables";

$card-header__padding: $base__size * 2;

.card {
  display: flex;
  flex-direction: column;
  background-color: $color__white;
  box-shadow: $shadow__card;
  border-radius: $border-radius__card;

  .card__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $card-header__padding $card-header__padding 0 $card-header__padding;
    padding-bottom: 0;
    word-break: break-word;

    &--with-bottom-margin {
      border-bottom: 1px solid $color__gray-light;
      padding-bottom: $card-header__padding;
    }

    &--title {
      display: flex;
      align-items: center;

      h2 {
        color: $color__black;
        font-size: $font-size__md;
        font-weight: 600;
        margin: 0;
      }

      svg {
        color: $color__gray;
        margin-left: $base__size * 0.75;
      }
    }

    &--description {
      p {
        color: $color__gray-darker;
        font-size: $font-size__base;
        font-weight: 400;
        margin: 0;
      }
    }
  }

  .card__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $base__size * 2;
  }

  .card__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid $color__gray-light;
    padding: $base__size * 2;
  }
}
