@import "../../styles/variables";

.card {
  display: flex;
  flex-direction: column;
  background-color: $color__white;
  box-shadow: $shadow__card;
  border-radius: 4px;

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color__light-gray;
    padding: 2 * $base__size;
    word-break: break-word;

    h2 {
      color: $color__black;
      font-size: $font-size__md;
      font-weight: 600;
      margin: 0;
    }

    p {
      color: $color__darker-gray;
      font-size: $font-size__base;
      font-weight: 400;
      margin: 0;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2 * $base__size;
    min-height: 300px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid $color__light-gray;
    padding: 2 * $base__size;
  }
}
