@import "../../styles/variables";

$navbar__height: 100vh;
$navbar__width: $base__size * 10;

$navbar__logoSize: $base__size * 4;

$navbar-item__iconSize: $base__size * 3;
$navbar-item__height: $base__size * 9;
$navbar-item__width: $navbar__width;

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: $navbar__height;
  width: $navbar__width;
  background: $color__black;
  color: $color__gray;
  z-index: $z-index__navbar;

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $navbar-item__height;
    width: $navbar-item__width;

    img {
      height: $navbar__logoSize;
      width: $navbar__logoSize;
    }
  }
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $navbar-item__height;
  width: $navbar-item__width;

  &.active {
    background: $color__primary;
    color: $color__white;
  }

  svg {
    height: $navbar-item__iconSize;
    width: $navbar-item__iconSize;
    margin: $base__size * 0.5;
  }

  &__description {
    font-size: $font-size__sm;
    font-weight: 600;
  }
}
