@import "../../styles/variables";

$navbar__width: $base__size * 10;

$navbar__logo-size: $base__size * 4;

$navbar-item__color: $color__gray;
$navbar-item__active-color: $color__white;
$navbar-item__background-active-color: $color__primary;
$navbar-item__background-color: $color__black;
$navbar-item__icon-size: $base__size * 3;
$navbar-item__height: $base__size * 9;
$navbar-item__width: $navbar__width;

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: $navbar__width;
  background: $navbar-item__background-color;
  color: $navbar-item__color;
  z-index: $z-index__navbar;

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $navbar-item__height;
    width: $navbar-item__width;

    img {
      height: $navbar__logo-size;
      width: $navbar__logo-size;
    }
  }
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $navbar-item__height;
  width: $navbar-item__width;

  &.active {
    background: $navbar-item__background-active-color;
    color: $navbar-item__active-color;
  }

  svg {
    height: $navbar-item__icon-size;
    width: $navbar-item__icon-size;
    margin: $base__size * 0.5;
  }

  &__description {
    font-size: $font-size__sm;
    font-weight: 600;
  }
}
