@import "../../styles/variables";

.count-up__unit {
  color: $color__gray-darker;
  font-size: $font-size__xl;
  font-weight: 600;
  margin: 0 $base__size * 0.5;
  text-transform: lowercase;

  &:empty {
    display: none;
  }
}

.count-up__value {
  color: $color__black;
  font-size: $font-size__xxl;
  font-weight: 600;

  &:empty {
    display: none;
  }
}
