@import "../../styles/mixins";
@import "../../styles/variables";

.bar-chart-table {
  display: flex;
  height: 100%;
  width: 100%;
  padding-bottom: $base__size;

  .bar-chart-table__col {
    display: flex;
    flex-direction: column;

    .bar-chart-table__cell {
      display: flex;
      align-items: center;
      flex-grow: 1;
      padding: 0 $base__size;
    }
  }

  .bar-chart-table__col-index {
    font-weight: 600;
    padding: 0;

    .bar-chart-table__cell {
      justify-content: flex-end;
    }
  }

  .bar-chart-table__col-label {
    flex-grow: 1;
    overflow: hidden;

    .bar-chart-table__cell {
      overflow: hidden;
      padding: 0 $base__size * 0.5;
    }
  }

  .bar-chart-table__col-value {
    color: $color__gray-dark;
    font-weight: 600;
    white-space: nowrap;

    .bar-chart-table__cell {
      justify-content: flex-end;
    }
  }

  .bar-chart-table__label-bar {
    border-bottom: 2px solid $color__primary;
    box-sizing: border-box;
  }

  .bar-chart-table__label-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
  }

  .bar-chart-table__label-content {
    display: flex;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $color__primary;
      }
    }

    // label-component
    > *:not(.bar-chart-table__label-external-link) {
      @include truncate-text;
    }
  }

  .bar-chart-table__label-external-link {
    margin-left: $base__size * 0.5;
  }

  .bar-chart-table__label-icon {
    @include favicon;

    margin-right: $base__size;
  }
}
