@import "../../styles/mixins";
@import "../../styles/variables";

.tooltip {
  @include tooltip;

  .tooltip__header {
    display: flex;
    align-content: center;

    img {
      @include avatar-border;

      height: $size__favicon;
      width: $size__favicon;
      margin-right: $base__size;
    }

    strong {
      @include truncate-text;
    }
  }

  .tooltip__body {
    @include truncate-text;

    text-align: right;
  }
}
