@import "../../styles/variables";

.tooltip {
  min-width: 80px;
  max-width: 240px;
  padding: $base__size;
  border-radius: 2px;
  background-color: $color__black;
  color: $color__white;

  .tooltip__header {
    display: flex;
    align-content: center;

    img {
      height: (12px * 1.5) - 2;
      width: (12px * 1.5) - 2;
      flex-grow: 0;
      flex-shrink: 0;
      background-color: $color__white;
      border: 1px solid $color__white;
      border-radius: 100%;
      margin-right: $base__size;
      overflow: hidden;
    }

    strong {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .tooltip__body {
    text-align: right;
  }
}
