@import "../../styles/mixins";
@import "../../styles/variables";

.tooltip {
  @include tooltip;

  .tooltip__header {
    display: flex;
    align-content: center;

    img {
      height: ($font-size__base * 1.5) - 2;
      width: ($font-size__base * 1.5) - 2;
      flex-grow: 0;
      flex-shrink: 0;
      background-color: $color__white;
      border: 1px solid $color__white;
      border-radius: 100%;
      margin-right: $base__size;
      overflow: hidden;
    }

    strong {
      @include truncate-text;
    }
  }

  .tooltip__body {
    @include truncate-text;

    text-align: right;
  }
}
