@import "../../styles/mixins";
@import "../../styles/variables";

.axis__container {
  .axis {
    path {
      @include grid-lines;
    }

    text {
      color: $color__dark-gray;
      font-weight: 600;
      font-size: $font-size__base;
      font-family: $font-family;
    }
  }

  .axis__left {
    text {
      text-align: right;
    }
  }

  .axis__right {
    text {
      text-align: left;
    }
  }
}
