@import "../../styles/mixins";
@import "../../styles/variables";

.history-view__header {
  display: flex;
  align-items: center;
  margin-right: $base__size * 0.5;
}

.history-view__cancel-button {
  margin-right: $margin__button;
}

.history-view__loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.history-table__row {
  $historyTableRowClass: &;

  &--selectable {
    cursor: pointer;

    &:hover {
      background-color: $color__primary-lightest;
    }

    &#{$historyTableRowClass}--selected:hover {
      background-color: $color__danger-lighter;
    }
  }

  &--selected {
    background-color: $color__danger-lightest;
    text-decoration: line-through;

    a {
      pointer-events: none;
    }
  }

  .history-table__row-icon {
    @include avatar-border;

    margin-right: $base__size * 1.5;

    span {
      margin-top: -1px;
      font-weight: 600;
    }
  }

  .history-table__row-label {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    min-width: 0;

    strong {
      @include truncate-text;

      font-weight: 600;
    }

    span {
      @include truncate-text;
    }
  }

  .history-table__row-sublabel {
    @extend .history-table__row-label;

    margin-left: auto;
    text-align: right;
  }
}
