@import "../../styles/mixins";
@import "../../styles/variables";

.history-view__header {
  display: flex;
  align-items: center;
  margin-right: $base__size * 0.5;
}

.history-view__loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.history-table__row {
  .history-table__row-icon {
    border: 1px solid $color__white;
    border-radius: 100%;
    box-shadow: $shadow__favicon;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $base__size * 1.5;
    overflow: hidden;

    img {
      background: $color__white;
    }

    span {
      margin-top: -1px;
      font-weight: 600;
    }
  }

  .history-table__row-label {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    min-width: 0;

    strong {
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .history-table__row-sublabel {
    @extend .history-table__row-label;

    margin-left: auto;
    text-align: right;
  }
}
